
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">@ViewBag.thiscat</h3>
							<div class="section-nav">

							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
                                        @if(ViewBag.category==null)
                                        {
                                            <h5>No Products</h5>
                                        }
										<!-- product -->
										@foreach (var x in ViewBag.category)
										{


										<div class="product">
											<div class="product-img">
												<img src="/products/@x.Images.Split(';')[1]" alt="">
												<div class="product-label">

													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">@x.Category</p>
												<h3 class="product-name"><a asp-action="Details" asp-controller="Product" asp-route-id="@x.Id">@x.Name</a></h3>
												<h4 class="product-price">$ @x.Price <del class="product-old-price"></del></h4>
												<div class="product-rating">
													 @for(int i=1;i<=@x.Rating;i++)
                                {
                                        <i class="fa fa-star"></i>
                             }


												</div>
												<br>

											</div>

										</div>
										}
										<!-- /product -->

										<!-- product -->

										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- SECTION -->
	    @await Component.InvokeAsync("ProductView")
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		