@model Product

<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li><a href="#">All Categories</a></li>
							<li><a href="#">@Model.Category</a></li>

							<li class="active">@Model.Name</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">

                           @foreach (var item in Model.Images.Split(';').Skip(1))
                           {
                               <div class="product-preview">
								<img src="/products/@item" alt="">
							</div>

                           }

						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">

							  @foreach (var item in Model.Images.Split(';').Skip(1))
                           {
                               <div class="product-preview">
								<img src="/products/@item" alt="">
							</div>

                           }


						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">@Model.Name</h2>
							<div>
								<div class="product-rating">
									 @for(int i=1;i<=@Model.Rating;i++)
                                {
                                        <i class="fa fa-star"></i>
                             }
								</div>
							</div>
							<div>
								<h3 class="product-price">$@Model.Price <del class="product-old-price">$ @Model.PreviousPrice</del></h3>
								<span class="product-available">In Stock</span>
							</div>
							<p>@Model.Description</p>







							<ul class="product-links">
								<li>Category:</li>
								<li><a href="#">@Model.Category</a></li>

							</ul>

						

						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
								<li><a data-toggle="tab" href="#tab2">Details</a></li>

							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
											<p>@Model.Description</p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12">
											<p><strong>Product Name :</strong>@Model.Name</p>
											<p><strong>Description  :</strong>@Model.Description</p>
											<p><strong>Category     :</strong>@Model.Category</p>
											<p><strong>Price        :</strong>@Model.Price</p>
											<p><strong>Stock        :</strong>@Model.InStock</p>
										</div>
									</div>
								</div>
								<!-- /tab2  -->


										<!-- /Reviews -->

										<!-- Review Form -->

										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">Related Products</h3>
						</div>
					</div>

					<!-- product -->

						@foreach (var x in ViewBag.related)
						{
							<div class="col-md-3 col-xs-6">


						<div class="product">
							<div class="product-img">
								<img src="/products/@x.Images.Split(';')[1]" alt="">

							</div>
							<div class="product-body">
								<p class="product-category">@x.Category</p>
								<h3 class="product-name"><a>@x.Name</a></h3>
								<h4 class="product-price">$@x.Price <del class="product-old-price">$@x.PreviousPrice</del></h4>
								<div class="product-rating">
								</div>

							</div>

						</div>
						</div>
						}

					<!-- /product -->

					<!-- product -->

					<!-- /product -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->

		<!-- NEWSLETTER -->
